/* Font */
$mainfont: "Poppins", sans-serif;

/* Fonts weight */
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

/* Colors */
$white: white;
$lightgrey: #f5f5f5;
$grey: #e6e6e6;
$lightgreytwo: #3d3a50;
$darkgrey: #1a1c22;
$lightblue: #4E64A6;
$blue: #273273;
$darkblue: #131A40;

/* Media Queries */
$tablet: 426px;
$desktop: 900px;
